<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>VisitorForm</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Servlet1</servlet-name>
    <servlet-class>mypack.login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet1</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>servlet2</servlet-name>
    <servlet-class>mypack.DataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet2</servlet-name>
    <url-pattern>/DataServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>servlet3</servlet-name>
    <servlet-class>mypack.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet3</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>servlet4</servlet-name>
    <servlet-class>mypack.FileUploadHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet4</servlet-name>
    <url-pattern>/FileUploadHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>servlet5</servlet-name>
    <servlet-class>mypack.ImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet5</servlet-name>
    <url-pattern>/ImageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>servlet6</servlet-name>
    <servlet-class>mypack.CounterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet6</servlet-name>
    <url-pattern>/CounterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>servlet7</servlet-name>
    <servlet-class>mypack.UpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet7</servlet-name>
    <url-pattern>/UpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>servlet8</servlet-name>
    <servlet-class>mypack.PhoneSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet8</servlet-name>
    <url-pattern>/PhoneSearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>servlet9</servlet-name>
    <servlet-class>mypack.OutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet9</servlet-name>
    <url-pattern>/OutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>servlet10</servlet-name>
    <servlet-class>mypack.ReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet10</servlet-name>
    <url-pattern>/ReportServlet</url-pattern>
  </servlet-mapping>
</web-app>